<mat-toolbar>
    <span>Student</span>
  </mat-toolbar>
  <form style="margin-left: 1em;">
  
    <mat-form-field class="full-width">
      <input matInput placeholder="Student Id" [value]="student.studentId" readonly >
    </mat-form-field>
  
    <table  class="full-width">
      <tr>
        <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="First name" [value]="student.name" readonly >
            </mat-form-field>
        </td>
        <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="Surname" [value]="student.surname" readonly >
            </mat-form-field>
        </td>
      </tr>
          <mat-form-field class="penInput">
            <input matInput class="center-text"  placeholder="Pen Amount" [value]="student.penAmount" readonly >
          </mat-form-field>
    </table>
  
    <div class="center">
      <mat-card class="img-width">
        <mat-card-header>
          <div class="mat-card-header-text">
              <mat-card-title ></mat-card-title>
            <mat-card-title >Image</mat-card-title>
          </div>
        </mat-card-header>
        <img class="mat-card-image" [src]="student.image" [alt]="student.image">
      </mat-card>
    </div>
  
    <mat-form-field class="full-width">
        <textarea matInput placeholder="Description" [value]="student.description" readonly ></textarea>
    </mat-form-field>
  
  </form>