
<mat-toolbar>
    <span>Add new student</span>
</mat-toolbar>
<form style="margin-left: 1em;">

    <mat-form-field class="full-width">
      <input matInput placeholder="Student Id">
    </mat-form-field>
  
    <table class="full-width">
      <tr>
        <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="First name">
            </mat-form-field>
        </td>
        <td>
            <mat-form-field class="full-width">
              <input matInput placeholder="Surname">
            </mat-form-field>
        </td>
      </tr>
        <div>
          <button mat-button class="center-button mat-raised-button mat-button-base" (click)="downQuantity(student)">-</button>
          <mat-form-field class="penInput">
            <input matInput class="center-text"  placeholder="Pen Amount" value="0">
          </mat-form-field>
          <button mat-button class="center-button mat-raised-button mat-button-base " (click)="upQuantity(student)">+</button>
        </div>
    </table>

    <mat-form-field class="full-width">
        <input matInput placeholder="File name">
        <mat-hint>Will change to the image uploader component later, hell the page doesn't even work. Don't expect much. I am certainly he gonna let us continue this in his project.</mat-hint>
      </mat-form-field>
  
    
  
    <mat-form-field class="full-width">
        <textarea matInput placeholder="Description" ></textarea>
    </mat-form-field>

    <div class="center">
      <button mat-button class="mat-raised-button" color="primary">Add</button>
    </div>
  
  </form>